//- extends layout to your side
extends layout/layout
mixin blog-item(img, title, author, comment, date, content)
  // Begin blog list
  .blog-content.clearfix
    .blog-img.col-md-3.col-sm-4.col-xs-12
      a(href='')
        img(src='images/#{img}.jpg', alt=title).img-responsive
        span.thumbnail-arrow
          i.fa.fa-search-plus
    .blog-detail.col-md-9.col-sm-8.col-xs-12
      h4= title
      .blog-action.clearfix
        ul.list-inline
          li
            i.fa.fa-user 
            | by #{author}
          li
            i.fa.fa-comments 
            | #{comment} Comments
          li
            i.fa.fa-clock-o
            | #{date}
      p!= content
      +a("Read more", "").btn-cta
  // blog list
block var
  - scriptpage = "home";
  - subPage = "blog-page";
  - title = "Blog page";
block breadcrumb
  +breadcrumb([["Home", "index.html"],["Blog", ""]], "New collections")
block content
  aside.sidebar.col-sm-4.col-md-3.hidden-xs
    //- category
    section.category-block
      header Categories
      .content-block 
        ul.list-unstyled
          +li(["New Arrivals <span>(547)</span>", ""])  
          +li(["Tops <span>(547)</span>", ""])  
          +li(["Shirts & Blouses <span>(860)</span>", ""])  
          +li(["Trousers <span>(118)</span>", ""])  
          +li(["Jeans <span>(131)</span>", ""])  
          +li(["Dresses <span>(624)</span>", ""]) 
          +li(["Skirts  <span>(329)</span>", ""]) 
          +li(["Jackets &amp; Coats <span>(135)</span>", ""]) 
          +li(["Nightwear <span>(39)</span>", ""]) 
          +li(["Shoulder Bag <span>(251)</span>", ""]) 
          +li(["Shoes <span>(30)</span>", ""]) 
          +li(["Nightwear <span>(25)</span>", ""]) 
    //- visited product 
    +side-item("product", "You have visited",[["One Shoulder Asymmetric Dress", "pro-27", "125,90"], ["One Shoulder Asymmetric Dress", "pro-21", "125,90"]]).visited-block
    section.tag-block
      header Tag Cloud
      .content-block
        .tag-cloud
          +a("New collections", "") 
          +a("Jacket", "") 
          +a("Fashion", "") 
          +a("Casual", "") 
          +a("Tommy Mancini", "") 
          +a("Utamur tincidunt", "")

  #col-right.col-md-9.col-sm-8.col-xs-12
    //- h2 New collections
    +blog-item("blog-05", "Zara Lauren brings the Summer Collection 2014", "Admin", "4", "September 5, 2014", "Quisque a justo magna. Curabitur nec dui non massa tempor dictum. Pellentesque leo lacus, venenatis quis rhoncus eu, vulputate sed ante. Mauris mattis tempus velit vel lacinia.")
    +blog-item("blog-02", "Zara Lauren brings the Summer Collection 2014", "Admin", "4", "September 5, 2014", "Quisque a justo magna. Curabitur nec dui non massa tempor dictum. Pellentesque leo lacus, venenatis quis rhoncus eu, vulputate sed ante. Mauris mattis tempus velit vel lacinia.")
    +blog-item("blog-03", "Zara Lauren brings the Summer Collection 2014", "Admin", "4", "September 5, 2014", "Quisque a justo magna. Curabitur nec dui non massa tempor dictum. Pellentesque leo lacus, venenatis quis rhoncus eu, vulputate sed ante. Mauris mattis tempus velit vel lacinia.")
    +blog-item("blog-04", "Zara Lauren brings the Summer Collection 2014", "Admin", "4", "September 5, 2014", "Quisque a justo magna. Curabitur nec dui non massa tempor dictum. Pellentesque leo lacus, venenatis quis rhoncus eu, vulputate sed ante. Mauris mattis tempus velit vel lacinia.")

    // PAGINATION
    +pagination(3, 5, 4, 22)
