mixin carouselProduct(arr)
  #gallery_01.thumbs
    each url in arr
      a.image-thumb.active(href='#', data-image='images/small/#{url}.jpg', data-zoom-image='images/large/#{url}.jpg')
        img(src='images/small/#{url}.jpg')
mixin radio(type, arr)
  each color in arr
    label
      input(type='radio', name=type)
      b(class=color title=color)
mixin social-icon(arr)
  .social-icon
    each icon in arr
      a(href= "javascript:void(0);")
        i(class="fa fa-#{icon}")
mixin article(title, author, date, content)
  article.review.row
    .col-md-1
      img(src='images/images.jpg', alt='')
    .col-md-8
      h4.title-review= title
      p.info
        span.author= author
        span.date= date
      p!= content
      +social-icon(['twitter', 'linkedin', 'facebook', 'xing', 'rss'])
mixin pagination(start, numPages, curr, base)
  - start    = start    || 1
  - numPages = numPages || 10
  - curr     = curr     || 1
  .pagination
    ul
      - if(curr==1) 
        li.disabled
          a(href='#') Prev
      - else
        li
          a(href='#') Prev
      - for(var i=start;i<start+numPages;i++)
        - if(i==curr)
          li.active
            a(href="javascript:void(0);") #{i}
        - else
          li
            a(href="javascript:void(0);") #{i}
      li
        a(href='#') Next


//- home page
mixin carousel(url)
  for item in url
    div&attributes(attributes)
      img.img-responsive(src='images/#{item[0]}.jpg').hidden-sm.hidden-xs
      if item[1]  
        img.img-responsive(src='images/#{item[1]}.jpg').hidden-md.hidden-lg
mixin banner(url, title1, title2, title3)
  .col-md-4.banner-item
    .img-wrapper
      img.img-responsive(src='images/#{url}.jpg')
      span.triangle
      .titles
        p.title01= title1
        p.title02= title2
        p.title03= title3
mixin product(name, url, price, order)
  .product
    .photo-wrapper
      img(src='images/#{url}.jpg', alt='')
      .icon-style.hidden-list
        a.img-link(href='product_detail.html')
        a(href='cart.html', title='Add to Cart')
          i.fa.fa-shopping-cart.icon-01
        a(href='my_account.html', title='Add to Wishlist')
          i.fa.fa-heart.icon-02
        a(href='compare_product.html', title='Add to Comapre')
          i.fa.fa-refresh.icon-03
    .entry-main.clearfix
      .rate-bar
        .rateit-selected
      span.recent-order
        span.order= order
        span &nbsp;orders
      h4.entry-title: a(href='#')= name
      span.price $#{price}
      if(block)
        block
mixin infoProduct(text)
  .entry-description.visible-list
    p= text
  .button-group.unstyled.clearfix.visible-list
    a.btn-cta(href='#')
      i.iconfont-shopping-cart
      |  ADD TO CARD
    a.btn-outline(href='#', title='Add to Wishlist')
      i.iconfont-heart
      | Wishlist
    a.btn-outline(href='#', title='Comapre')
      i.iconfont-retweet
      | Comapre        
mixin side-item(type, heading, arr)
  section&attributes(attributes)
    header= heading
    .content-block
      ul.list-unstyled
        for item in arr
          li.list-item.clearfix
            a(href=''): img(src='../images/#{item[1]}.jpg', alt='')
            .detail
              span.title= item[0]
              if (type == "article")
                span
                  i.fa.fa-clock-o
                  | #{item[2]} 
              else
                span.price $#{item[2]}
//- mixin a(text, href)
//-   - var href= (typeof(href) === 'undefined' || href =="")? "javascript:void(0);" : href;
//-   a(href=href, title=text) #{text}
//- mixin addClass(item)
//-   - if (subPage + ".html" === item.url)
//-     a(class="active" href=item.url  title=item.title) #{item.title}
//-   - else
//-     a(href=item.url  title=item.title) #{item.title}  
//- mixin makeMenu(items, level)
//-   ul(class=level)
//-     - for (item in items)
//-       li
//-         - if (!items[item].url)
//-             - items[item].url = "javascript:void(0);"
//-         - if (items[item].children)
//-           +addClass(items[item])
//-           +makeMenu(items[item].children, "dl-submenu")
//-         - else
//-           +addClass(items[item])
//- mixin banner(url, title01, title02, title03)
//-   .col-md-4
//-     .banner-content
//-       img(src="images/#{url}.jpg", class="img-responsive")
//-       .triangle
//-       .titles
//-         p #{title01}
//-         p.style #{title02}
//-         p.grey #{title03}
//- mixin product(name, url, price, order)
//-   .product
//-     .photo-wrapper
//-       img.img-responsive(src="images/#{url}.jpg", alt="#{name}")
//-       .icon-style
//-         a(href="product_detail.html", title="Product details").img-link
//-         a(href="cart.html", title="Add to Cart"): i.iconfont-shopping-cart.icon-01
//-         a(href="my_account.html", title="Add to Wishlist"): i.iconfont-heart.icon-02
//-         a(href="compare_product.html", title="Add to Compare"): i.iconfont-refresh.icon-03
//-     .entry-main
//-       .rate-bar
//-         .rateit-selected
//-       .recent-order.pull-right
//-         .order 
//-           strong #{order} 
//-           | orders
//-       h5.entry-title: a(href="") #{name}
//-       .entry-price
//-         .price #{price}
//- mixin cart-item(id, name, price)
//-   li
//-     .item.clearfix
//-       button.close x
//-       a(href="cart.html", class="entry-thumbnail"): img.img-responsive(src="images/#{id}.jpg", alt=name)
//-       .info
//-         p.entry-title #{name}
//-           a(href="cart.html") 
//-         p.entry-price 1 x $#{price}


//- mixin slide-content-2(imgDesktop, imgMobile, title, copytext, urltext, url)
//-   li
//-     figure
//-       img.hidden-xs.hidden-sm(src="images/upload/#{imgDesktop}", alt="").img-responsive
//-       img.hidden-md.hidden-lg(src="images/upload/#{imgMobile}", alt="").img-responsive
//-       figcaption
//-         .container
//-           .row
//-             .col-xs-12.col-md-5(attributes)
//-               .inner
//-                 if(title!=="")
//-                   h2!=title
//-                 span!=copytext
//-                 if(urltext!=="")
//-                   a(href=url, title=urltext).btn-primary
//-                     span #{urltext}
//-                     span.fa.fa-chevron-right
//- mixin aditional(title, objs, link, href)
//-   h2!=title
//-   .links
//-     each item in objs.items
//-       span
//-         if(item[1]=="") 
//-           a(href="javascript:void(0)", title=item[0])!=item[0]
//-         else
//-           a(href=item[1], title=item[0])!=item[0]
//-   if (typeof(link) !== "undefined")
//-     a(href=href, title=link).fa.fa-chevron-right
//-       span #{link}
//- mixin breadcrumb(objs, lastitem)
//-   ol.col-md-9.hasebz_breadcrumb
//-     each item in objs.items
//-       li
//-         a(href="#", title=item)!=item
//-     li!=lastitem
